<footer style="<%= (page === 'update') ? '' : (locals.data ? 'margin-top: 100px;' : 'margin-top: 270px;') %>">
    <p>&copy; Akash Sundaramoorthi</p>
</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/script.js"></script>
</html>